<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484737574060-9b760e5qkq9ohfqik9qneahk57i8ecn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484737574060-9b760e5qkq9ohfqik9qneahk57i8ecn9</string>
	<key>API_KEY</key>
	<string>AIzaSyAm3z_go-WRBpzcryiV7tO2oe0GuyWNjiU</string>
	<key>GCM_SENDER_ID</key>
	<string>484737574060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.falcon.p.mcom.goodsmatch.puzzle.triplemaster</string>
	<key>PROJECT_ID</key>
	<string>mascom-goodmatch</string>
	<key>STORAGE_BUCKET</key>
	<string>mascom-goodmatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484737574060:ios:417b02e1efbc8f591e2b09</string>
</dict>
</plist>